body {
    background-color: #8a2be2;
    /* background-image: url("imagesweb/hive-facllitie.jpg"); */
}

h1{
    color: rgb(236, 0, 0);
    font-size: 90px;
}

.specialFont{
    font-size: 40px;
    color: darkgreen;
}


#importantText {
    font-size: 50px;
    color:rgb(42, 236, 226);
}

#topSection{
    border: tomato solid 8px;
}

#bottomSection{
    border: springgreen solid 10px;
}


.titleNav{
    border: 8px rgb(192, 173, 6) dotted;
    padding: 20px;
    margin: 40px;
}

.introText{
    border: 4px indigo dotted;
    box-sizing: border-box;
    padding: 40px 20px 80px 130px;
    width: 400px;
    margin:40px;
}


.boo{
    text-align: center;
}

.boo2{
    text-align: center;
}


#linksImages{
    border: solid red 8px;
}


#umbrella1{
    width: 400px;
}


.raccoonCity{
    border: dotted rgb(255, 0, 43) 10px;
}
#hive1{
    width: 800px;
}



.sakaku1{
    border:black dotted 10px;
}
#sakakucity{
    width: 800px;
}


.gement1{
    border:dotted red 10px;
}
#gement2{
    width: 800px;
}



.maya1{
    border: dotted black 10px;
}
#maya3{
    width: 800px;
}






