.meow{
    border: dotted black 4px;
}

body{
    background-image: url("../imagesweb/hive-facllitie.jpg")
}


.meow2{
        border:black dotted 4px;
    }
#wesker{ width: 800px;}



.meow3{
        border:black dotted 4px;
    }
#lupo3{ 
    width: 800px;
}


.meow4{border:black dotted 4px;}

#vector3{width: 800px;}

.meow5{border:black dotted 4px;}

.meow6{border:black dotted 4px;}

.meow7{border:black dotted 4px;}

.meow8{border:black dotted 4px;}

.meow9{border:black dotted 4px;}

.meow10{border:black dotted 4px;}

.meow11{border:black dotted 4px;}